// Paddings
$md-padding: 0.5rem;
$xs-padding: 0.125rem;

// Margins
$md-margin: 0.5rem;

// Border radius
$md-radius: 0.5rem;
$sm-radius: 0.25rem;
$xxl-radius: 6.25rem;

// Font sizes
$md-font-size: 0.875rem;
$sm-font-size: 0.75rem;
